{% extends "library/base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    
    <div class="order-info">
        <h3>Your borrow</h3>
        <ul>
            {% for item in cart %}
                <li>{{ item.book.title }} <span>:{{ item.total_quantity }}</span></li>
            {% endfor %}
        </ul>
        <p>Total: {{ cart.get_total_quantity }}</p>
    </div>
    
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
{% endblock %}
